In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

/home/opeyemi/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
zones = pd.read_csv('taxi+_zone_lookup.csv')

In [3]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
zones[zones['LocationID']==265]

     LocationID  Borough Zone service_zone
264         265  Unknown  NaN          NaN

In [13]:
zones['Zone'].unique()

array(['Newark Airport', 'Jamaica Bay', 'Allerton/Pelham Gardens',
       'Alphabet City', 'Arden Heights', 'Arrochar/Fort Wadsworth',
       'Astoria', 'Astoria Park', 'Auburndale', 'Baisley Park',
       'Bath Beach', 'Battery Park', 'Battery Park City', 'Bay Ridge',
       'Bay Terrace/Fort Totten', 'Bayside', 'Bedford', 'Bedford Park',
       'Bellerose', 'Belmont', 'Bensonhurst East', 'Bensonhurst West',
       'Bloomfield/Emerson Hill', 'Bloomingdale', 'Boerum Hill',
       'Borough Park', 'Breezy Point/Fort Tilden/Riis Beach',
       'Briarwood/Jamaica Hills', 'Brighton Beach', 'Broad Channel',
       'Bronx Park', 'Bronxdale', 'Brooklyn Heights',
       'Brooklyn Navy Yard', 'Brownsville', 'Bushwick North',
       'Bushwick South', 'Cambria Heights', 'Canarsie', 'Carroll Gardens',
       'Central Harlem', 'Central Harlem North', 'Central Park',
       'Charleston/Tottenville', 'Chinatown', 'City Island',
       'Claremont/Bathgate', 'Clinton East', 'Clinton Hill',
       'Clinton West', 'Co-Op City', 'Cobble Hill', 'College Point',
       'Columbia Street', 'Coney Island', 'Corona', 'Country Club',
       'Crotona Park', 'Crotona Park East', 'Crown Heights North',
       'Crown Heights South', 'Cypress Hills', 'Douglaston',
       'Downtown Brooklyn/MetroTech', 'DUMBO/Vinegar Hill',
       'Dyker Heights', 'East Chelsea',
       'East Concourse/Concourse Village', 'East Elmhurst',
       'East Flatbush/Farragut', 'East Flatbush/Remsen Village',
       'East Flushing', 'East Harlem North', 'East Harlem South',
       'East New York', 'East New York/Pennsylvania Avenue',
       'East Tremont', 'East Village', 'East Williamsburg', 'Eastchester',
       'Elmhurst', 'Elmhurst/Maspeth',
       "Eltingville/Annadale/Prince's Bay", 'Erasmus', 'Far Rockaway',
       'Financial District North', 'Financial District South',
       'Flatbush/Ditmas Park', 'Flatiron', 'Flatlands', 'Flushing',
       'Flushing Meadows-Corona Park', 'Fordham South', 'Forest Hills',
       'Forest Park/Highland Park', 'Fort Greene', 'Fresh Meadows',
       'Freshkills Park', 'Garment District', 'Glen Oaks', 'Glendale',
       "Governor's Island/Ellis Island/Liberty Island", 'Gowanus',
       'Gramercy', 'Gravesend', 'Great Kills', 'Great Kills Park',
       'Green-Wood Cemetery', 'Greenpoint', 'Greenwich Village North',
       'Greenwich Village South', 'Grymes Hill/Clifton',
       'Hamilton Heights', 'Hammels/Arverne',
       'Heartland Village/Todt Hill', 'Highbridge', 'Highbridge Park',
       'Hillcrest/Pomonok', 'Hollis', 'Homecrest', 'Howard Beach',
       'Hudson Sq', 'Hunts Point', 'Inwood', 'Inwood Hill Park',
       'Jackson Heights', 'Jamaica', 'Jamaica Estates', 'JFK Airport',
       'Kensington', 'Kew Gardens', 'Kew Gardens Hills',
       'Kingsbridge Heights', 'Kips Bay', 'LaGuardia Airport',
       'Laurelton', 'Lenox Hill East', 'Lenox Hill West',
       'Lincoln Square East', 'Lincoln Square West',
       'Little Italy/NoLiTa', 'Long Island City/Hunters Point',
       'Long Island City/Queens Plaza', 'Longwood', 'Lower East Side',
       'Madison', 'Manhattan Beach', 'Manhattan Valley', 'Manhattanville',
       'Marble Hill', 'Marine Park/Floyd Bennett Field',
       'Marine Park/Mill Basin', 'Mariners Harbor', 'Maspeth',
       'Meatpacking/West Village West', 'Melrose South', 'Middle Village',
       'Midtown Center', 'Midtown East', 'Midtown North', 'Midtown South',
       'Midwood', 'Morningside Heights', 'Morrisania/Melrose',
       'Mott Haven/Port Morris', 'Mount Hope', 'Murray Hill',
       'Murray Hill-Queens', 'New Dorp/Midland Beach', 'North Corona',
       'Norwood', 'Oakland Gardens', 'Oakwood', 'Ocean Hill',
       'Ocean Parkway South', 'Old Astoria', 'Ozone Park', 'Park Slope',
       'Parkchester', 'Pelham Bay', 'Pelham Bay Park', 'Pelham Parkway',
       'Penn Station/Madison Sq West', 'Port Richmond',
       'Prospect-Lefferts Gardens', 'Prospect Heights', 'Prospect Park',
       'Queens Village', 'Queensboro Hill', 'Queensbridge/Ravenswood',
       'Randalls Island', 'Red Hook', 'Rego Park', 'Richmond Hill',
       'Ridgewood', 'Rikers Island',
       'Riverdale/North Riverdale/Fieldston', 'Rockaway Park',
       'Roosevelt Island', 'Rosedale', 'Rossville/Woodrow',
       'Saint Albans', 'Saint George/New Brighton',
       'Saint Michaels Cemetery/Woodside', 'Schuylerville/Edgewater Park',
       'Seaport', 'Sheepshead Bay', 'SoHo', 'Soundview/Bruckner',
       'Soundview/Castle Hill', 'South Beach/Dongan Hills',
       'South Jamaica', 'South Ozone Park', 'South Williamsburg',
       'Springfield Gardens North', 'Springfield Gardens South',
       'Spuyten Duyvil/Kingsbridge', 'Stapleton', 'Starrett City',
       'Steinway', 'Stuy Town/Peter Cooper Village', 'Stuyvesant Heights',
       'Sunnyside', 'Sunset Park East', 'Sunset Park West',
       'Sutton Place/Turtle Bay North', 'Times Sq/Theatre District',
       'TriBeCa/Civic Center', 'Two Bridges/Seward Park',
       'UN/Turtle Bay South', 'Union Sq',
       'University Heights/Morris Heights', 'Upper East Side North',
       'Upper East Side South', 'Upper West Side North',
       'Upper West Side South', 'Van Cortlandt Park',
       'Van Cortlandt Village', 'Van Nest/Morris Park',
       'Washington Heights North', 'Washington Heights South',
       'West Brighton', 'West Chelsea/Hudson Yards', 'West Concourse',
       'West Farms/Bronx River', 'West Village',
       'Westchester Village/Unionport', 'Westerleigh', 'Whitestone',
       'Willets Point', 'Williamsbridge/Olinville',
       'Williamsburg (North Side)', 'Williamsburg (South Side)',
       'Windsor Terrace', 'Woodhaven', 'Woodlawn/Wakefield', 'Woodside',
       'World Trade Center', 'Yorkville East', 'Yorkville West', 'NV',
       nan], dtype=object)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='zone', con=engine))

In [20]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [25]:
len(df)

100000

In [26]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
zones.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [9]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [9]:
zones.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

In [10]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 1min 3s, sys: 3.23 s, total: 1min 7s
Wall time: 2min 19s

In [10]:
zones.to_sql(name='zones', con=engine, if_exists='append')

## Assignment

1. How many taxi trips were there on January 15?

In [20]:
df['tpep_pickup_datetime']

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369760   2021-01-25 08:32:04
1369761   2021-01-25 08:34:00
1369762   2021-01-25 08:37:00
1369763   2021-01-25 08:28:00
1369764   2021-01-25 08:38:00
Name: tpep_pickup_datetime, Length: 1369765, dtype: datetime64[ns]

In [32]:
from time import time

In [33]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk..., took 16.115 second
inserted another chunk..., took 15.076 second
inserted another chunk..., took 14.321 second
inserted another chunk..., took 17.030 second
inserted another chunk..., took 16.002 second
inserted another chunk..., took 15.990 second
inserted another chunk..., took 16.380 second
inserted another chunk..., took 15.642 second
inserted another chunk..., took 14.489 second
inserted another chunk..., took 14.900 second
inserted another chunk..., took 14.711 second

C:\Users\alexe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk..., took 15.301 second
inserted another chunk..., took 9.552 second

StopIteration:

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-15 23:57:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  910K=0.01s

2022-01-15 23:57:02 (910 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')